[submodule "plugins/ExhibitBuilder"]
	path = plugins/ExhibitBuilder
	url = git://github.com/omeka/plugin-ExhibitBuilder
[submodule "plugins/SimplePages"]
	path = plugins/SimplePages
	url = git://github.com/omeka/plugin-SimplePages
[submodule "themes/default"]
	path = themes/default
	url = git://github.com/omeka/theme-thanksroy
[submodule "themes/seasons"]
	path = themes/seasons
	url = git://github.com/omeka/theme-seasons
[submodule "plugins/Coins"]
	path = plugins/Coins
	url = git://github.com/omeka/plugin-Coins
[submodule "themes/berlin"]
	path = themes/berlin
	url = git://github.com/omeka/theme-berlin.git
[submodule "plugins/Neatline"]
	path = plugins/Neatline
	url = https://github.com/scholarslab/Neatline.git
[submodule "plugins/NeatlineSimile"]
	path = plugins/NeatlineSimile
	url = https://github.com/scholarslab/NeatlineSimile.git
[submodule "plugins/NeatlineWaypoints"]
	path = plugins/NeatlineWaypoints
	url = https://github.com/scholarslab/NeatlineWaypoints.git
[submodule "plugins/NeatlineText"]
	path = plugins/NeatlineText
	url = https://github.com/scholarslab/NeatlineText.git
[submodule "themes/mappingnorthlake"]
	path = themes/mappingnorthlake
	url = git@github.com:zploskey/theme-mappingnorthlake.git
[submodule "plugins/MappingNorthlake"]
	path = plugins/MappingNorthlake
	url = https://github.com/zploskey/plugin-MappingNorthlake.git
[submodule "plugins/NeatlineCoverImage"]
	path = plugins/NeatlineCoverImage
	url = https://github.com/zploskey/NeatlineCoverImage.git
